.country {
  background-color: darkslategray;
  color: white;
  display: flex;
  justify-content: center;
  padding: 1rem;
  align-items: center;
  border-radius: 0.6rem;
  transition: all 0.3s;
}
.country:hover {
  transform: scale(1.06);
}

.flag {
  width: 10rem;
  height: 7rem;
}

.btn {
  border: none;
  border-radius: 0.6rem;
  font-weight: bolder;
  padding: 0.8rem;
  cursor: pointer;
  background-color: purple;
  font-size: 1rem;
  color: white;
  transition: all 0.3s;
}

.btn:hover {
  background-color: black;
  color: white;
  box-shadow: 3px 3px;
}

